body {
  font-family: Garamond;
}
/*h2 {
  font-family: Italic;
}*/
.header {
  font-family: Italic;
}
table {
  /*font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;*/
  /*position: fixed;*/
  text-align: left;
}
